
.products{
    display: flex;
    padding: 10px;
}
.products-two{
    margin-left: 10px;
    border-bottom: 1px solid lightblue;
    padding-bottom: 10px;
}
.btn-regular{
    background-color: yellow;
    width: 120px;
    height: 30px;
    border: 1px solid lightblue;
    cursor: pointer;
}