.header{
    text-align: center;
}
.header img{
    height: 50px;
    margin-top: 30px;
}
.header nav{
    background-color: black;
    line-height: 50px;
    text-align: left;
}
.header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 15px 0px;
}
.header nav a:hover{
    color: black;
    background-color: wheat;
}